*{

	padding:0; 
	margin:0;

}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee;
}

#header{
	background: black;
	padding:10px; 
}
#header ul li{
	list-style: none; 
	display: inline;
	padding: 10px;
}

#header ul li a{
	color: white;
	text-decoration: none;
	padding: 10px;
}

#footer{
	background: #fffe;
	padding:10px;

}
#main{
box-sizing: border-box;
margin: 40px;
padding: 20px;
border-radius: 5px;
color: #343a40;
text-align: center;
}
.error{
	color: #ac2323;
}

.center{
	text-align: center;
}

.boxreg{ 
   display: inline-block;
   width: auto;
   margin: 80px;
   text-align: justify;
}


